@import url('https://fonts.googleapis.com/css2? family= Kanit:wght@400;700 & display=swap');

body{
    background-color: gray;
    font-family: 'Kanit', sans-serif;
}

a{
    text-decoration: none;
}

header img{
    width: 50px;
}

hr{
    border: 2px solid black;
}

#tarjetas img{
    height: 150px;
}